* {
  font-family: 'Roboto', sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

.header-container, .footer {
  background-color: #1F2937;
  color: #E5E7EB;
  font-size: 18px;
}

.header-container {
  padding-bottom: 60px;
}

.menu-bar {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.menu-nav {
  display: flex;
  gap: 16px;
  list-style: none;
}

.header-content {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  gap: 24px;
}

.header-content > div {
  max-width: 500px;
}

.header-words h1 {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
  margin:0;
}

.header-button {
  background-color: #3882F6;
  padding: 8px 36px;
  border-radius: 8px;
}

.header-image {
  display: flex;
  width: 500px;
  background-color: #777;
  justify-content: center;
  align-items: center;
}

.random-info {
  text-align: center;
}

.tidbit-container {
  display: flex;
  gap: 36px;
  justify-content: center;
  padding-bottom: 60px;
}

.tidbit {
  max-width: 150px;
}

.tidbit-image {
  border: 3px solid #3882F6;
  border-radius: 8px;
  height: 140px;
}

.random-header {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}

.testimonial-container {
  background-color: #E5E7EB;
}

.testimonial {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  color: #1F2937;
}

.testimonial-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 0;
}

.testimonial-author {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
}

.call-to-action {
  background-color: #3882F6;
}

.footer {
  text-align: center;
  font-size: 18px;
  padding: 1em;
}
